/* Do not load this file directly! Use theme-[a-z]+.less to set color variables first */
@import 'structure.less';
@import 'navbar.less';
@import 'popup.less';
@import 'status.less';
@import 'tweaks.less';

body {
	max-width: 1900px; /* 1920 - padding */
	margin: 0 auto 3em;

	background-color: @theme-background-color;
	color: @theme-color-text;
}

#flash-message {
	width: 60%;
	max-width: 50em;
	margin: 0 auto;
	position: fixed;
	top: 60px;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 2000; /* should be above everything */
}

#flash-message .alert {
	margin: 15px;

	.datetime {
		position: absolute;
		margin: -0.75em;
		font-size: 0.75em;
	}

	.content {
		margin: 0.5em 0;
	}
}

a,
a:hover,
a:active,
.as-a-link {
	color: @theme-color-primary;
	cursor: pointer;
	text-decoration: none;
}

.as-a-link:hover {
	text-decoration: underline;
}

hr {
	border-top: 1px solid @theme-background-color-secondary;
}

.modal-content {
	background-color: @theme-background-color-primary;
}

.map-file-items {
	#map-info-window {
		h6 {
			text-align: center;
			margin-top: 0.5em;
			font-weight: bold;
		}

		.thumbnail-loading-icon {
			font-size: 50px;
			margin: 75px;
		}

		.image {
			text-align: center;
			width: 200px;
			height: 200px;
			margin: 0.5em auto;

			a img {
				border-radius: 1em;
				text-align: center;
				max-width: 200px;
				max-height: 200px;
			}
		}

		.content .btn-group {
			width: 100%;
		}
	}

	.map-thumbnail-icon {
		img {
			border-radius: 50%;
			background-color: rgba(@theme-background-color-secondary, 0.1);
			height: 50px;
			width: 50px;
			border: 0.2em solid rgba(@theme-background-color-secondary, 0.1);
			&:hover {
				border-color: @theme-color-primary;
			}
		}
	}
}

#structure-browser-map,
#map {
	margin: 1em 3em 0; /* Leave gap on both sides to be able to have mouse here to scroll up and down */
	height: 80vh;
	min-height: 30em;
}

.leaflet-container .browser-map-loading-info {
	// Intentionally not respecting theme colors because all colors in Leafler container are inverted using CSS filters.
	background-color: white;
	padding: 0.2em 0.5em;
}

.leaflet-container .leaflet-popup-content-wrapper {
	background-color: @theme-background-color;
	color: @theme-color-text;
}

#advanced-search-map {
	width: 100%;
	height: 20em;
}

#advanced-search-size {
	margin-bottom: 4em;
	margin-left: 1em;
	margin-right: 1em;
}

@keyframes wiggle {
	20% {
		transform: translate(1em, 0);
	}
	40% {
		transform: translate(-1em, 0);
	}
	60% {
		transform: translate(1em, 0);
	}
	80% {
		transform: translate(-1em, 0);
	}
	100% {
		transform: translate(0, 0);
	}
}
