#popup-media-details {
	background-color: @theme-background-color;
	color: @theme-color-text;

	.offcanvas-header {
		justify-content: space-between;

		.buttons {
			text-align: right;
			margin-right: 1em;

			a {
				display: inline-block;
				padding: 0.5em;
				border-radius: 50%;
				background-color: rgba(@theme-color-text, 0.25);
				color: @theme-color-primary;

				&:hover {
					text-decoration: none;
					background-color: rgba(@theme-color-text, 0.5);
				}
			}
		}
	}

	.data table {

		.media-info-group-name {
			padding-top: 1em;
			font-size: 1.5em;
		}

		td {
			color: @theme-color-text; /* override Bootstrap's coloring */
			background-color: @theme-background-color; /* override Bootstrap's coloring */
			vertical-align: middle;
		}
	}
}

