#structure-search {
	max-width: 25em;
	margin: 0.5em;
	margin-left: auto;

	input,
	.input-group-text {
		border-color: @theme-background-color-secondary;
		color: @theme-color-text;
		background-color: @theme-background-color;
	}

	button {
		border-color: @theme-background-color-secondary;
	}
}

#advanced-search-form {
	max-width: 50em;
	margin-left: auto;
	padding-right: 2em;
}

#advanced-search-sort {
	td, th {
		padding: 0.25em;
	}
}

#structure-display-type input {
	display: none;
}

#structure-header,
#structure-footer {
	text-align: center;
	margin: 1em;
}

@item-margin-size: 0.5em;
@item-border-size: 0.2em;

#structure-tiles {
	margin: 0 auto;

	.structure-item {
		cursor: pointer;

		.name {
			&:hover {
				text-decoration: none;
			}

			.highlight {
				background-color: @theme-highlight-color;
			}
		}

		.name,
		.icon,
		.thumbnail {
			color: @theme-color-primary;
		}

		&:hover {
			text-decoration: none;
		}

	}

	/* Tiles (big and small) */

	&.tiles-big,
	&.tiles-small {
		/*
		 * Align items to grid
		 * @author: https://css-tricks.com/cool-little-css-grid-tricks-for-your-blog/
		 */
		grid-gap: 1em;
		display: grid;
		place-content: center;

		.structure-item {
			position: relative;
			margin: @item-margin-size;
			border-radius: 1em;
			border: @item-border-size solid rgba(0, 0, 0, 0);

			.thumbnail-loading-icon {
				font-size: 0.75em;
				position: absolute;
				display: block;
				right: 1em;
				top: 1em;
			}

			.name,
			.icon,
			.thumbnail {
				position: absolute;
				display: block;
				width: 100%;
				left: 0;
			}

			.size,
			.location,
			.distance,
			.created {
				display: none;
			}

			.name {
				bottom: 1em;
				text-align: center;
				margin: 0 auto;
				padding: 0.5em 0;
				border-radius: 5px;
				word-wrap: break-word;
				overflow-wrap: break-word;
				font-size: 0.75em;
				background-color: rgba(@theme-background-color-secondary, 0.8);
				color: @theme-color-primary;
			}

			.icon {
				top: 0.5em;
			}

			.thumbnail {
				top: 0;
				height: 100%;
				border-radius: 1em;
			}

			&:hover,
			&.structure-selected {
				border: @item-border-size solid @theme-color-primary;
				color: @theme-color-primary;
			}

			&.structure-selected {
				.name {
					background-color: @theme-background-color;
				}
			}

			&:hover:not(.structure-selected) {
				border: @item-border-size solid rgba(@theme-color-primary, 0.75);
			}
		}
	}

	/* Big tiles */

	&.tiles-big {
		grid-template-columns: repeat(auto-fit, 200px);

		.structure-item {
			padding: 100px; /* vertical and horizontal center in tile */

			.icon {
				font-size: 5em;
			}
		}
	}

	/* Small tiles */

	&.tiles-small {
		grid-template-columns: repeat(auto-fit, 120px);

		.structure-item {
			padding: 60px; /* vertical and horizontal center in tile */

			.icon {
				font-size: 3em;
			}
		}
	}

	/* Rows (big and small) */

	&.rows-small .structure-item,
	&.rows-big .structure-item {

		// Item, that is visible on rightmost, should have this padding
		@structure-item-padding-right-screen: 0.5em;

		display: flex;
		align-items: center;
		padding: 0.2em;
		overflow: hidden;
		justify-content: space-between;

		&:nth-of-type(odd) {
			background-color: rgba(@theme-background-color-secondary, 0.3);
		}

		.icon,
		.size,
		.distance,
		.created {
			color: @theme-color-text;
			white-space: nowrap;
		}

		.name {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			margin-right: auto;
		}

		.location:hover {
			text-decoration: none;
		}

		&:hover,
		&.structure-selected {
			background-color: @theme-background-color-secondary;
			color: @theme-color-primary
		}

		&:hover:not(.structure-selected) {
			background-color: rgba(@theme-background-color-secondary, 0.5);
		}

		@media (min-width: 768px) {
			.size,
			.location,
			.distance,
			.created {
				margin-left: 1em;
			}

			.created {
				padding-right: @structure-item-padding-right-screen;
			}

			.size {
				width: 5em;
				text-align: right;
			}
		}

		@media (max-width: 767px) {
			.size,
			.created {
				display: none;
			}

			.location {
				padding-right: @structure-item-padding-right-screen;
			}
		}
	}

	/* Rows (small) */

	&.rows-small {
		.structure-item {
			.name {
				padding-left: 0.5em;
			}

			.thumbnail {
				display: none;
			}

			.thumbnail-loading-icon {
				display: none;
			}
		}
	}

	/* Rows (big) */

	&.rows-big {
		.structure-item {
			padding: 0;
			height: 5em;

			.name {
				padding-left: 3em;
			}

			.icon {
				font-size: 2em;
				padding-left: 1em;
			}

			.thumbnail-loading-icon {
				position: absolute;
				font-size: 1em;
				left: 0.5em; // Align to the left of thumbnail icon
				padding: 0;
			}

			.thumbnail {
				height: 5em;
				width: 5em;
				position: absolute;
			}
		}
	}
}

#structure-scan {
	font-size: 0.75em;
	text-align: right;
}
