body {
    margin: 0 auto;
    max-width: 1900px; /* 1920 - padding */
    padding: 10px;
    padding-top: 0; /* without reseting to zero navbar looks weird */
}
#navbar {
    background-color: #f8f9fa;
}
/* Zmenšit breadcrumb */
#navbar .breadcrumb {
    padding: 0.5em 1em;
    margin-bottom: 0.5em;
}

/* Zarovnat text v dropdownu */
#navbar .dropdown-item {
    text-align: right;
}
#filter {
    width: 15rem;
}
/* Ikonka ma minimalni sirku */
#structure table {
    width: 100%;
}
/* Cely radek je klikaci odkaz */
#structure table tbody tr td {
    cursor: pointer;
    line-height: 2rem;
}
#structure table tbody tr td a {
    display: block;
    width: 100%;
    height: 100%;
}
#structure table tbody tr td a:hover {
    text-decoration: none;
}
/* Ikonka ma minimalni sirku */
#structure table tbody tr td:nth-child(1) {
    width: 1em; /* ikonka si stejně minimální šířku vynutí jakou zrovna potřebuje */
}
/* Nazev souboru či složky */
#structure table tbody tr td:nth-child(2) {
}
/* Velikost souboru */
#structure table thead tr th:nth-child(3),
#structure table tbody tr td:nth-child(3) {
    text-align: right;
    width: 7rem;
    padding: 0 10px;
    white-space: nowrap;
}
/* Vytvořeno */
/* Dont show time on smaller devices */
#structure table thead tr th:nth-child(4),
#structure table tbody tr td:nth-child(4) {
    width: 5rem;
}
#structure table tbody tr td:nth-child(4) span {
    display: none;
}
@media (min-width: 768px) {
    #structure table thead tr th:nth-child(4),
    #structure table tbody tr td:nth-child(4) {
        width: 9rem;
    }
    #structure table tbody tr td:nth-child(4) span {
        display: inline !important;
    }
}

#structure-header,
#structure-footer {
	text-align:	center;
}


/* aktualne oznaceny radek */
.structure-selected,
#structure table tbody tr:hover {
    background-color: #c0c0c0 !important;
}

@media (min-width: 576px) {
    #content-modal .modal-dialog { max-width: none; }
}

#content-modal .modal-dialog {
    width: 98%;
    height: 92%;
    padding: 0;
}

#content-modal .modal-content {
    height: 99%;
}
#content-modal .modal-content a.image {
    display: block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#content-modal .modal-content video {
    margin: 0 auto;
    display: block;
}
#content-modal .modal-body {
    padding: 0;
}
#content-modal p {
    width: 100%;
    text-align: center;
    margin: 10px;
}
#content-modal .navigation {
    width: 100%;
    text-align: center;
}
/**
 * prev/next buttons from lightbox tutorial
 * @Author https://www.w3schools.com/howto/howto_js_lightbox.asp
 */
.prev,
.next {
    z-index: 1; /* show above video */
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: 2.5em;
    padding: 3em 1em;
    margin-top: -50px;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}
.next:hover,
.prev:hover {
    color: white;
    text-decoration: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

#loading {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 10px;
    z-index: 1100;
}
#loading div {
    height: 10px;
}


/**
 * Change colors to dark mode if body has ".dark" class
 * - but do not change print output
 */
@media not print {
    body.theme-dark #navbar,
    body.theme-dark #navbar .dropdown-menu {
        background-color: #343a40;
    }
    body.theme-dark #navbar .dropdown-item:focus,
    body.theme-dark #navbar .dropdown-item:hover,
    body.theme-dark #navbar .breadcrumb {
        background-color: #616161;
    }
    body.theme-dark .modal-content {
        background-color: black;
    }
    body.theme-dark #filter input,
    body.theme-dark #filter .input-group-text {
        border: black;
        color: #909090;
        background-color: black;
    }
    body.theme-dark .table-striped > tbody > tr:nth-of-type(odd) {
        background-color: #212121;
    }
    body.theme-dark {
        background-color: black;
        color: #909090;
    }
    body.theme-dark a:not(.btn) {
        color: orange;
    }
    body.theme-dark .progress-bar {
        background-color: orange;
    }
    body.theme-dark .structure-selected,
    body.theme-dark #structure table tbody tr:hover {
        background-color: #616161 !important;
    }
    body.theme-dark hr {
		border-top: 1px solid rgba(255,255,255,.3);
	}
}
