body {
	max-width: 1900px; /* 1920 - padding */
	padding: 0; /* padding top because navbar looks weird without reseting to zero */
	margin: 0 auto 3em; /* margin bottom because of popup-footer */
}

#flash-message {
	width: 60%;
	max-width: 50em;
	margin: 0 auto;
	position: fixed;
	top: 60px;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 2000; /* should be above everything */
}

#flash-message .alert {
	margin: 15px;
}

body a,
body .theme-color {
	color: #007bff; /* Bootstrap primary */
}

#popup-footer,
#navbar {
	background-color: #f8f9fa;
}

/*********************************/
/**			  Navbar			**/
/*********************************/

/* Make breadcrumb smaller */
#navbar .breadcrumb {
	padding: 0.5em 1em;
	margin: 0;
}

/* Bigger area of clickable links */
#navbar .breadcrumb li a {
	padding: 1em 0;
}

#navbar .dropdown-item {
	text-align: right;
}

#navbar-filter {
	width: 15rem;
}

#navbar .nav-item button {
	border: none;
}

/* while non-collapsed navbar */
@media (min-width: 768px) {
	/* Normalize all elements (buttons, dropdowns...) */
	#navbar .nav-item .nav-link {
		margin-right: -10px;
		margin-left: -10px;
		padding-top: 0;
		padding-bottom: 0;
	}

	/* Normalize also icons inside */
	#navbar .nav-item .nav-link i.fa {
		width: 20px;
		height: 20px;
		margin: 2px;
		padding: 2px;
	}
}

/* while in collapsed navbar */
@media (max-width: 767px) {
	/* all items should be in full width */
	#navbar-filter,
	#navbar .nav-item button {
		width: 100%;
	}
}

/*********************************/
/**			Structure			**/
/*********************************/

/* Ikonka ma minimalni sirku */
#structure table {
	width: 100%;
}

#structure table tbody tr {
	transition: background-color 0.5s ease;
}

/* Cely radek je klikaci odkaz */
#structure table tbody tr td {
	cursor: pointer;
	line-height: 2rem;
}

#structure table tbody tr td a {
	display: block;
	width: 100%;
	height: 100%;
}

#structure table tbody tr td a:hover {
	text-decoration: none;
}

/* Ikonka ma minimalni sirku */
#structure table tbody tr td:nth-child(1) {
	width: 1em; /* ikonka si stejně minimální šířku vynutí jakou zrovna potřebuje */
}

/* Nazev souboru či složky */
#structure table tbody tr td:nth-child(2) {
}

/* Velikost souboru */
#structure table thead tr th:nth-child(3),
#structure table tbody tr td:nth-child(3) {
	text-align: right;
	width: 7rem;
	padding: 0 10px;
	white-space: nowrap;
}

/* Vytvořeno */
/* Dont show time on smaller devices */
#structure table thead tr th:nth-child(4),
#structure table tbody tr td:nth-child(4) {
	width: 6rem;
}

#structure table tbody tr td:nth-child(4) span {
	display: none;
}

@media (min-width: 768px) {
	#structure table thead tr th:nth-child(4),
	#structure table tbody tr td:nth-child(4) {
		width: 9rem;
	}

	#structure table tbody tr td:nth-child(4) span {
		display: inline !important;
	}
}

#structure-header,
#structure-footer {
	text-align: center;
	margin: 1em;
}


/* aktualne oznaceny radek */
.structure-selected,
#structure table tbody tr:hover,
#structure .structure-item:hover {
	background-color: #c0c0c0 !important;
}

/*************************************/
/**		Structure - tile view		**/
/*************************************/

#structure-tiles {
	margin: 0 auto;
	text-align: center;
}
#structure-tiles .structure-item {
	position: relative;
	vertical-align: top;
	text-align: center;
	display: inline-block;
	padding: 100px; /* vertical and horizontal center */
	margin: 0.5em;
	cursor: pointer;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	border-radius: 1em;
}
#structure-tiles .structure-item:hover {
	text-decoration: none;
}
#structure-tiles .structure-tile-item-name {
	position: absolute;
	display: block;
	width: 100%;
	bottom: 1em;
	left: 0;
	background-color: rgba(97, 97, 97, 0.8);
	transition: background-color .1s ease-in-out;
	text-align: center;
	margin: 0 auto;
	padding: 0.5em 0;
	border-radius: 5px;
}
#structure-tiles .structure-item:hover .structure-tile-item-name {
	background-color: rgba(97, 97, 97, 1); /* full background */
}


/**
 * Popup start
 */
#popup {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1030; /* has to be bigger than #navbar */
	background: rgba(0, 0, 0, 0.5);
	transition: background-color .3s ease-in-out;
	text-align: center;
}

#popup-content {
	width: 100%;
	height: 100%;
}

#popup-image,
#popup-video,
#popup-audio,
#popup-icon,
#popup-loading {
	max-height: inherit;
	max-width: inherit;
	/**
     * Vertical and horizontal center image
     * This solution respect parent size with gap for footer
	 * @Author https://stackoverflow.com/a/46276156
	 */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#popup-audio {
	width: 75%;
	z-index: 2; /* has to be above #popup-prev and #popup-next */
}

#popup-footer {
	height: 3em;
	width: 100%;
	max-width: 1920px;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	margin: 0 auto;

}

#popup-footer .list-inline-item {
	height: 3em;
	min-width: 2.5em;
	line-height: 1em;
	padding: 1em 0.5em;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	margin: 0;
}

#popup-footer .list-inline-item:hover {
	background: rgba(255, 255, 255, 0.1);
}

/**
 * prev/next buttons from lightbox tutorial
 * @Author https://www.w3schools.com/howto/howto_js_lightbox.asp
 */
#popup-prev,
#popup-next {
	z-index: 1; /* show above video but has to be under audio */
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: 4em;
	padding: 3em 1em;
	margin-top: -50px;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
}

#popup-next:hover,
#popup-prev:hover {
	color: white;
	text-decoration: none;
}

#popup-next {
	right: 0;
	border-radius: 0.5em 0 0 0.5em;
}

#popup-prev {
	left: 0;
	border-radius: 0 0.5em 0.5em 0;
}

/* On hover, add a black background color with a little bit see-through */
#popup-prev:hover,
#popup-next:hover {
	background-color: rgba(0, 0, 0, 0.5);
}

/**
 * Popup end
 */

#map {
	margin-top: 2em;
	height: 30em;
	width: 100%;
}

/**
 * Tweaks
 */
.form-check-label,
input[type=radio],
input[type=checkbox] {
	cursor: pointer;
}

.nobr {
	white-space: nowrap;
}

/**
 * Change colors to dark mode if body has ".dark" class
 * - but do not change print output
 */
@media not print {
	body.theme-dark #navbar,
	body.theme-dark #popup-footer,
	body.theme-dark #navbar .dropdown-menu,
	body.theme-dark .modal-content {
		background-color: #343a40;
	}

	body.theme-dark #navbar .dropdown-item:focus,
	body.theme-dark #navbar .dropdown-item:hover,
	body.theme-dark #navbar .breadcrumb {
		background-color: #616161;
	}

	body.theme-dark #navbar-filter input,
	body.theme-dark #navbar-filter .input-group-text {
		border: black;
		color: #909090;
		background-color: black;
	}

	body.theme-dark .table-striped > tbody > tr:nth-of-type(odd) {
		background-color: #212121;
	}

	body.theme-dark {
		background-color: black;
		color: #909090;
	}

	body.theme-dark a:not(.btn),
	body.theme-dark .theme-color {
		color: orange;
	}

	body.theme-dark .structure-selected,
	body.theme-dark #structure table tbody tr:hover,
	body.theme-dark #structure .structure-item:hover {
		background-color: #616161 !important;
	}

	body.theme-dark hr {
		border-top: 1px solid rgba(255, 255, 255, .3);
	}
}
