@import 'structure.less';
@import 'navbar.less';
@import 'popup.less';
@import 'tweaks.less';

@theme-default-color-primary: #007bff; /* Bootstrap primary */
@theme-default-color-text: black;

@theme-dark-color-primary: #ffc107; /* Bootstrap warning */
@theme-dark-color-text: #909090;

body {
	max-width: 1900px; /* 1920 - padding */
	margin: 0 auto 3em; /* margin bottom because of popup-footer */
}

#flash-message {
	width: 60%;
	max-width: 50em;
	margin: 0 auto;
	position: fixed;
	top: 60px;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 2000; /* should be above everything */
}

#flash-message .alert {
	margin: 15px;
}

body a {
	color: @theme-default-color-primary;
}

#popup-footer,
#navbar {
	background-color: #f8f9fa;
}

#map {
	margin-top: 2em;
	height: 30em;
	width: 100%;
}

/**
 * Change colors to dark mode if body has ".dark" class
 * - but do not change print output
 */
@media not print {
	body.theme-dark #navbar,
	body.theme-dark #popup-footer,
	body.theme-dark #navbar .dropdown-menu,
	body.theme-dark .modal-content {
		background-color: #343a40;
	}

	body.theme-dark #navbar .dropdown-item:focus,
	body.theme-dark #navbar .dropdown-item:hover,
	body.theme-dark #navbar .breadcrumb {
		background-color: #616161;
	}

	body.theme-dark #navbar-filter input,
	body.theme-dark #navbar-filter .input-group-text {
		border: black;
		color: @theme-dark-color-text;
		background-color: black;
	}

	body.theme-dark #navbar .navbar-toggler {
		color: @theme-dark-color-text;
	}
	body.theme-dark {
		background-color: black;
		color: @theme-dark-color-text;
	}


	body.theme-dark a:not(.btn) {
		color: orange;
	}

	body.theme-dark hr {
		border-top: 1px solid rgba(255, 255, 255, .3);
	}
}
