#navbar {


	.breadcrumb { /* Make breadcrumb smaller */
		padding: 0.5em 1em;
		margin: 0;

		li a { /* Bigger area of clickable links */
			padding: 1em 0;
		}
	}


	.dropdown-item {
		text-align: right;
	}

	#navbar-filter {
		width: 15rem;
	}

	.nav-item .btn {
		border: none;
	}

	/* while non-collapsed navbar */
	@media (min-width: 768px) {
		.nav-item {
			i.fa { /* Normalize icons */
				width: 20px;
				height: 20px;
				margin: 2px;
				padding: 2px;
			}
		}
	}

	/* while in collapsed navbar */
	@media (max-width: 767px) {
		/* all items should be in full width */
		#navbar-filter,
		.nav-item .btn {
			width: 100%;
		}
	}
}
