/* Dark */
@theme-color-text: #909090;
@theme-color-primary: #ffc107; /* Bootstrap warning */
@theme-background-color: #000000;
@theme-background-color-primary: #343a40;
@theme-background-color-secondary: #616161;
@theme-highlight-color: red;

@import '../main.less';

/**
 * Toggle map control into dark mode
 * @author https://dev.to/deepakdevanand/leaflet-map-dark-theme-5ej0
 */
.leaflet-control-attribution,
.leaflet-control,
.leaflet-layer,
.leaflet-popup {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}
